*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
    scroll-behavior: smooth;
 }
 body{
    background:#f9f9f9;
    overflow-x: hidden;
}
.navbar{
    /* margin-top:1rem; */
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    width:100vw;
    height:3.4375rem;
    position:sticky;
    top:0;
    background-color: #03372d;
}
.logo{
    display:flex;
    align-items: center;
}
.logo-img{
    background-image: url(food.jpeg);
    background-size: cover;
    border-radius: 30%;
    height: 2.2rem;
    width:2.2rem;
}
.name{
    color:#e2efc4;
    text-shadow: 2px 2px 4px rgba(10, 136, 119, 0.5);
}
.menu{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.menu a{
    text-decoration: none;
    color:#fcfdfd;
    padding:0.4rem 1rem;
    border-radius: 1.2rem;
    margin: 0 0.6rem;
    font-weight: 600;
}
.menu a:hover{
    background:white;
    color:#031e19;
}
.menu a.active{
    background:#359381;
    color:white;
}
.menu .icon{
    display:flex;
    cursor: pointer;
    position:absolute;
    right:5rem;
    font-size: 1.2rem;
    color:white;
}
.navbar i{ 
    margin-right:30px;
}

/* NAV BAR END */
.types{
    width:100%;
}
.img-pizza-1{
    margin:10px;
    height:250px;
    width:300px;
    border-radius: 30%;
    background-size: cover;
    box-shadow: 2px 2px 20px  rgb(10, 9, 9);
}
.pizza1{
    background-image: url(pizza1.jpg);
}
.pizza2{
    background-image: url(makhni.jpg);
}
.pizza3{
    background-image: url(veggie.jpg);
}
.pizza-1{
    display:flex;
    justify-content: space-evenly;
      margin-top:50px;
}
.about-1 h1{
    font-weight: 600;
}
.about-1 h4{
    font-weight: 500;
    color:grey;
}
.about-1 h2 i{
    color:rgb(240, 192, 17);
}
.about-1 {
    display:flex;
    flex-direction: column;
    justify-content: center;
}


/* footer section */
#contact{
    width:100%;
}
.logo-img1{
    background-image: url(food.jpeg);
    background-size: cover;
    border-radius: 30%;
    height: 40px;
    width:40px;
}
.name1{
    color:#359381;
    text-shadow: 2px 2px 4px rgba(10, 136, 119, 0.5);
}
.footer-1{
    display: flex;
    flex-wrap: wrap;
    margin-top:100px;
    justify-content: space-around;
}
.logo-img1{
    background-image: url(food.jpeg);
    background-size: cover;
    border-radius: 30%;
    height: 40px;
    width:40px;
}
.name1{
    color:#359381;
    text-shadow: 2px 2px 4px rgba(10, 136, 119, 0.5);
}
.f1{
   width:20vw;
}
.f1 b{
    color:red;
}
.f1-name{
    display: flex;
    margin-bottom: 20px;
}

.l1{
   list-style: none;
}
.l1 li{
    margin:10px;
}
.l1 a{
    text-decoration: none;
    color:black;
}
.l1 a:hover{
    text-decoration: none;
    color:rgb(187, 8, 8);
}
.footer-2{
    display:flex;
    justify-content: center;
    margin-top:60px;
    padding-bottom: 20px;
}
.social_media i{
    font-size: 20px;
    margin-right:15px;
    color: black;
    opacity:0.5;
 }
 .social_media i:hover{
     scale: 1.5;
    opacity:2;
     color: rgb(201, 20, 20);
  }
 .contact{
    cursor: pointer;
   position:fixed;
   bottom:10px;
   right:5px;
 }

 /* footer end */



 @media(max-width:857px){
    .pizza-1{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-top:50px;
    }
    .img-pizza-1{
        height:31.25rem;
        width:43.75rem;
    }
 }
 @media(min-width:1800px){
    .img-pizza-1{
        height:28.125rem;
        width:40.625rem;
    }
    .about-1 h2{
        font-size: 2.5ren;
   }
   .about-1 h1{
       font-size: 2.5rem;
   }
   .about-1 h4{
       font-size: 1.56rem;
   }
   .about-1 h3{
       font-size: 2.18rem;
   }
 }
 @media (max-width:950px){

    .name1{
        font-size: 15px;
    }
    .menu .icon{
        display:flex;
        cursor: pointer;
        position:absolute;
        left:10px;
        top:80px;
        font-size: 20px;
    }
}

@media (max-width:788px){
     .navbar{
        height:6.5rem;
        margin-bottom: 0.3rem;
     }
     .img-pizza-1{
        height:22rem;
        width:25rem;
    }

}

@media (max-width:400px){
    .navbar{
       height:9.5rem;
       margin-bottom: 0.3rem;
    }
    .img-pizza-1{
       height:18rem;
       width:21rem;
   }
   .menu .icon{
    display:flex;
    cursor: pointer;
    position:absolute;
    left:1.5rem;
    top:7.8rem;
    font-size: 20px;
}

}